@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    margin-top: 1.89rem;
    .content-title-en {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      color: #999999;
      font-weight: 600;
      letter-spacing: 0.04rem;
    }
    .content-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.29rem;
      font-size: 0.72rem;
      font-weight: 700;
    }
    .artical-container {
      position: relative;
      // padding-left: 0.8rem;
      // padding-right: 0.8rem;
      width: 24rem;
      height: 8rem;
      margin-top: 1.42rem;
    }
  }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .container {
    width: 100%;
    margin-top: 1.89rem;
    .content-title-en {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      color: #999999;
      font-weight: 600;
      letter-spacing: 0.04rem;
    }
    .content-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.29rem;
      font-size: 0.72rem;
      font-weight: 700;
    }
    .artical-container {
      position: relative;
      // padding-left: 0.8rem;
      // padding-right: 0.8rem;
      width: 24rem;
      height: 8rem;
      margin-top: 1.42rem;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
    margin-top: 1.89rem;
    .content-title-en {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      color: #999999;
      font-weight: 600;
      letter-spacing: 0.04rem;
    }
    .content-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.29rem;
      font-size: 0.72rem;
      font-weight: 700;
    }
    .artical-container {
      position: relative;
      // padding-left: 0.8rem;
      // padding-right: 0.8rem;
      width: 24rem;
      height: 8rem;
      margin-top: 1.42rem;
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 350px) {
  .container {
    width: 100%;
    margin-top: 1.89rem;
    .content-title-en {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      color: #999999;
      font-weight: 600;
      letter-spacing: 0.04rem;
    }
    .content-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.29rem;
      font-size: 0.72rem;
      font-weight: 700;
    }
    .artical-container {
      position: relative;
      // padding-left: 0.8rem;
      // padding-right: 0.8rem;
      width: 24rem;
      height: 8rem;
      margin-top: 1.42rem;
    }
  }
}
